{% extends 'todolist/layout.html' %}

{% block content %}

<div style="margin-top: 50px;" class="ui container">
    <h1 class="ui center aligned header">Мой менеджер задач</h1>
    <h3 class="test_style">Управляй своим временем</h3>
    <form class="ui form" action="{% url 'add' %}" method="post">
        {% csrf_token %}
        <div class="field">
            <label>Новая задача</label>
            <input type="text" name="title" placeholder="Введи название задачи"> <br>
            <input type="text" name="description" placeholder="Введите описание"> <br>
            <input type="date" name="deadline" placeholder="Введите срок выполнения"> <br>
        </div>
        <button class="ui teal basic button" type="submit">Добавить</button>
    </form>

{% for todo in todos %}
<div class="ui segment">
    <p class="ui big header">{{ todo.title }}</p>
    {% if todo.description %}
        <p class="ui small header">{{ todo.description }}</p>
    {% endif %}
    <p class="ui small">Дата создания: {{ todo.created_at }}</p>
    <p class="ui small">Срок выполнения: {{ todo.deadline }}</p>
    <a href="{% url 'update_todo' pk=todo.id %}" class="ui primary basic button">Изменить задание</a>
    {% if todo.is_completed is False %}
        <a class="ui negative basic button" href="{% url 'update' pk=todo.id %}">Не завершено</a>
    {% else %}
        <a class="ui green basic button" href="{% url 'update' pk=todo.id %}">Завершено</a>
    {% endif %}
    <a class="ui red button" href="{% url 'delete' pk=todo.id %}">Удалить</a>

</div>
{% endfor %}
</div>

{% endblock content %}